/* Default CSS */

@namespace xml "http://www.w3.org/XML/1998/namespace";

@font-face{
    font-family: "Roboto";
    src:url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto-italic";
    src:url("../fonts/Roboto/Roboto-Italic.ttf");
    font-weight: normal;
}

TEI {
    padding: 1em;
    font-family: Roboto;
}

/* Foldable Sections */

TEI,
teiHeader,
text,
front,
body,
back {
    display:block;
    padding-bottom:0.5em;
    -oxy-foldable:true;
}

/* Section labels */

TEI:before,
teiHeader:before,
text:before,
front:before,
body:before,
back:before {
    display:block;
    color:steelblue;
    font-weight:bold;
    width:100%;
    margin:2px;
    padding-left: 6px;
    padding-bottom: 0.5em;
    content: oxy_name();
}

/* @xml:id */

TEI[xml|id]:before {
    -oxy-append-content: 
        oxy_label(
            text, "ID: "
            width, 75px
            styles, "@import 'labels_sub.css';"
        )
        oxy_label(
            text, attr(xml|id, string, "")
            styles, "@import 'labels_sub.css';"
        )
    ;
    vertical-align: middle;
}

/* Paragraph */

p:after{
    content: "¶";
    color: steelblue;
    padding-left: 4px;
}

p {
    display:block;
    padding:2px;
    margin:2px;
    margin-bottom: 10px;
}

ab[type='redactional'] {
    border-left: 2px solid steelblue;
    display:block;
    padding:2px;
    margin:2px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

ab[type='redactional']:before {
    -oxy-append-content: 
        oxy_label(
            text, "Redaktioneller Beitrag"
            color, steelblue
            styles, "@import 'labels_sub.css';"
        )
    ;
    display:block;
    margin-left: 12px;
    padding-bottom: 0.5em;
}

/* Page, Line, and Column Beginning */

lb {
    content: "\A↪";
}

ab > lb:first-of-type,
p > lb:first-of-type,
head > lb:first-of-type,
byline > lb:first-of-type,
salute > lb:first-of-type,
signed > lb:first-of-type,
dateline > lb:first-of-type,
p > lb:first-of-type {
    content: "↪";
}

pb + lb {
    content: "↪";
}

lb {
    color: steelblue;
    display: inline;
    padding-right: 6px;
    vertical-align: middle;
    visibility: -oxy-collapse-text;
    -oxy-display-tags: none;
}

lb[break="no"] {
    color: fuchsia;
    font-weight: bold;  
}

lb:focus {
    -oxy-append-content:
        oxy_label(
            text, "break: "
            width, 60px
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@break"
            values, "yes, no"
        )
    ;
}

pc {
    color:purple;
}

/* Page Break */

pb {
    content: url('../images/page_break-20.png');
    display:block;
    border-style:solid none;
    border-width:1px 0px 0px 0px;
    vertical-align:middle;
    margin-top: 0.5em;
    padding: 0.5em 0.5em 0.5em 0;
    visibility:-oxy-collapse-text;
}

pb:after {
    padding: 0px;
    vertical-align: middle;
    content:
        " "
        oxy_label(
            text, "n: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@n"
            columns, 4
        )
    ;
}

cb {
    content: "⣿ ";
    display:inline;
    padding-right: 2px;
    color: steelblue;
    -oxy-display-tags: none;
    visibility:-oxy-collapse-text;
}

cb[type]:not(:focus) {
    -oxy-append-content: "[" attr(type) "] ";
}

cb:focus {
    -oxy-append-content:
        oxy_label(
            text, " type: "
            width, 60px
        )
        oxy_combobox(
            edit, "@type"
            values, "start, end"
        )
    ;
}

/* Byline */

byline {
    font-variant:small-caps;
    padding:2px;
    margin:2px;
    margin-bottom: 5px;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Verfasserinnenzeile]";
}

/* textClass (keywords) */

keywords[ana=keywords] {
    content:
            oxy_label(
            text, oxy_xpath("'Schlagworte ('||count(descendant::item[@sameAs])||')'")
            styles, "@import 'labels.css';"
        );
    display: block;
    font-size: 0.9em;
    margin-bottom: 0.5em;
}

keywords[ana=keywords] list {
    margin-top: 0.125em;
}

keywords[ana=keywords] list:after {
    content:
        oxy_editor(
            type, button, 
            action, oxy_action(
                name, 'Neues Schlagwort einfügen', 
                description, 'Neues Schlagwort am Schluss der Liste einfügen', 
                operation, 'InsertFragmentOperation', 
                arg-fragment, '<item xmlns="http://www.tei-c.org/ns/1.0"/>',
                arg-insertLocation, '.',
                arg-insertPosition, 'Inside as last child'), 
            color, black);
    display:block;
    margin-top: 0.125em;
}

keywords[ana=keywords] list item {
    content:
        oxy_label(text, "Schlagwort: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, combo,
            edit, "@sameAs",
            values, "7502947-9,4002963-3,4000626-8,4076001-7,4004973-5,4069722-8,4012402-2,4015972-3,4222126-2,4017102-4,4017604-6,4017672-1,4045895-7,7507676-7,4018480-8,4156741-9,4023222-0,4605581-2,4028779-8,4028859-6,4028871-7,4030550-8,4031011-5,4073624-6,4031892-8,4032187-3,4033114-3,4033131-3,4034402-2,4035646-2,4039792-0,4120755-5,4040222-8,4041358-5,1139293370,4045673-0,4046449-0,4048680-1,4177612-4,4049275-8,4049396-9,4050491-8,4116383-7,4054684-6,4056366-2,4058665-0,4059205-4,4323955-9,4060747-1,4186999-0,4042696-8",
            labels, "Moderne Architektur,Armut,Ästhetik,Auto,Baudenkmal,Bürgertum,Diplomatie,Existenzphilosophie,Feminismus,Film,Flüchtling,Flugzeug,Fotografie,Frauenrolle (Soziale Rolle),Freundschaft,Geopolitik,Handel,Intermedialität,Journalismus,Jugend,Jugendbewegung,Kindheit,Kleidung,Kolonialismus,Kommunismus,Konservatismus,Krieg,Kriegsgefangenschaft,Landwirtschaft,Liebe,Mode,Modernisierung,Moral,Natur,Orientalismus,Phantastik,Poetik,Realismus,Reiseliteratur,Reisen,Religion,Romantik,Schifffahrt,Sexualität,Sport,Surrealismus,Technik,Traditionale Kultur ,Traum,Unterhaltungsindustrie,Vergewaltigung",
            canRemoveValue,true,
            editable, false,
            fontInherit, true,
            columns, 20)
            " "
        oxy_buttonGroup(
            label, '▼', 
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'delete'
                  )
              )
         );
    display:block;
}

/* Correspondence Description */

correspAction {
    display: block;
    font-size: 0.9em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    visibility: -oxy-collapse-text;
}

correspAction[type='sent']:before {
    background-color: #e5f5f9;
    display: block;
    content: "Absendeangaben";
    font-weight: bold;
    padding: 0 0 0.3em 0;
}

correspAction[type='sent'] {
    margin-bottom: 0.5em;
}

correspAction[type="received"]:before {
    background-color: #e5f5f9;
    display: block;
    content: "Empfangsangaben";
    font-weight: bold;
    padding: 0 0 0.3em 0;
}

correspAction persName,
correspAction placeName,
correspAction orgName {
    content: 
        oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 20);
    display: block;
    -oxy-editable: false;
    -oxy-display-tags: none;
}

correspAction date {
	content: 
        oxy_datePicker(columns, 22, edit , "@when", format, "yyyy-MM-dd", validateInput, false, fontInherit, true);
    display: block;
    visibility: -oxy-collapse-text;
}

correspAction[type='sent'] persName:before {
    content:
        oxy_label(
            text, "Absender/in: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction[type='received'] persName:before {
    content:
        oxy_label(
            text, "Empfänger/in: "
            styles, "@import 'labels.css';"
        )
    ; 
}

correspAction[type='sent'] placeName:before {
    content:
        oxy_label(
            text, "Schreibort: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction[type='received'] placeName:before {
    content:
        oxy_label(
            text, "Empfangsort: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction[type='sent'] date:before {
    content:
        oxy_label(
            text, "Schreibdatum: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction[type='received'] date:before {
    content:
        oxy_label(
            text, "Empfangsdatum: "
            styles, "@import 'labels.css';"
        )
    ;
}

/* Correspondence */

opener:before,
closer:before {
    -oxy-append-content: 
        oxy_label(
            text, oxy_name()
            color, steelblue
            styles, "@import 'labels_sub.css';"
        )
    ;
    margin-left: 12px;
    padding-bottom: 0.5em;
}

opener,
closer {
    display: block;
    visibility: -oxy-collapse-text;
}

opener,
closer {
    border-left: 2px solid steelblue;
    padding-bottom: 0.5em;
}

dateline,
salute,
signed {
    display: block;
    margin-left: 12px;
    visibility: visible;
}

dateline {
    -oxy-placeholder-content: "[Datumszeile]";
}

opener salute {
    -oxy-placeholder-content: "[Anrede]";
}

closer salute {
    -oxy-placeholder-content: "[Grussformel]";
}

signed {
    -oxy-placeholder-content: "[Unterschrift]";
}

address {
    margin-left: 6px;
    visibility: -oxy-collapse-text;
}

address:before {
    -oxy-append-content: 
        oxy_label(
            text, oxy_name()
            color, steelblue
            width, 75px
            styles, "@import 'labels_sub.css';"
        )
    ;
    margin-left: 6px;
    padding-bottom: 0.5em;
}

addrLine {
    display: block;
    margin-left: 6px;
    visibility: visible;
    -oxy-placeholder-content: "[Adresszeile]";
}

/* Referencing strings */

rs[type='person'],
rs[type='org'],
rs[type='place'],
rs[type='bibl'] {
    -oxy-display-tags: none;
} 

rs[type='person']:before {
    -oxy-prepend-content: url('../images/person-20.png');  
}
rs[type='org']:before {
    -oxy-prepend-content: url('../images/org-20.png');
}
rs[type='place']:before {
    -oxy-prepend-content: url('../images/place-20.png');
}
rs[type='bibl']:before {
    -oxy-prepend-content: url('../images/bibl-20.png');
}

rs:before {
    margin-right: 6px;
}

rs[type='person'],
rs[type='org'],
rs[type='place'],
rs[type='bibl'] {
    border-bottom: 3px solid Salmon;
    color: #000000;
    -oxy-display-tags: none;
} 

rs[type='person']:focus-within:after,
rs[type='org']:focus-within:after,
rs[type='place']:focus-within:after,
rs[type='bibl']:focus-within:after {
    padding-left: 2px;
}

rs[type='person']:focus-within:after,
rs[type='org']:focus-within:after,
rs[type='place']:focus-within:after {
    content: 
        oxy_buttonGroup(
            label, '▼',
            actions, 
              oxy_action_list(
                  oxy_action(
                        id, 'open_geovistory'
                  ),
                  oxy_action( 
                        id, 'rs_unwrap'
                  )
              )
         );
    ;
}

rs[type='bibl']:focus-within:after {
    content: 
        oxy_buttonGroup(
            label, '▼',
            actions, 
              oxy_action_list(
                  oxy_action(
                        id, 'open_zotero'
                  ),
                  oxy_action( 
                        id, 'rs_unwrap'
                  )
              )
         );
    ;
}

/* teiHeader */

teiHeader {
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0 0 0.5em 0;
    border: 1px steelblue dashed;
    background-color: #e5f5f9;
}

titleStmt {
    display: block;
    margin: 0 0 1em 0;
    visibility: -oxy-collapse-text;
}

titleStmt title {
    -oxy-placeholder-content: "Titel";
    -oxy-display-tags: none;
    background-color: #ffffff;
    display: block;
    font-style: italic;
    font-size: 1.5em;
    padding: 0 0 0 0.3em;
    visibility: visible;
} 

titleStmt author,
titleStmt editor,
titleStmt respStmt {
    display: block;
    font-size: 0.8em;
}

editionStmt {
    display: none;
}

publicationStmt {
    display: none;
}

sourceDesc,
fileDesc,
profileDesc {
    visibility: -oxy-collapse-text;
}

physDesc,
creation,
correspDesc,
profileDesc abstract,
correspDesc note,
profileDesc textClass {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

/* Anmerkungen */

notesStmt {
    display: block;
    font-size: 0.9em;
    visibility: -oxy-collapse-text;
}

notesStmt note[type='global_comment']:before {
    background-color: #e5f5f9;
    display: block;
    content: "Übersichtskommentar";
    font-weight: bold;
    padding: 0 0 0.3em 0;
}

notesStmt note[type='global_comment'] {
    background-color: #ffffff;
    display: block;
    visibility: visible;
}

notesStmt note[type='global_comment'] p {
    display: block;
}

/* text */

text body {
    position: relative;
    display: block;
}

text head {
    font-weight: bold;
    display: block;
    margin: 0.5em 0 1em 0;
    -oxy-placeholder-content: "[Titel]";
}

text head[type="h1"] {
    font-size: 1.4em;
    font-weight: bold;
}

text head[type="h2"] {
    font-size: 1.2em;
    font-weight: bold;
}

text head[type="h3"] {
    font-size: 1.2em;
}

text p, 
text lg[type="verse"] {
    display: block;
    margin: 0 0 1em 0;
}

text p[rendition="#c"]{
    text-align: center;
}

text lg lg,
text lg lg l {
    display: block;
}

text list,
text list item {
    display: block;
    -oxy-display-tags: none;
}

text list {
    margin: 1em 0 0 1em;    
}

text note {
    background-color: #e0e0e0;
    padding: 0 4px 0 4px;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Anmerkung eingeben]";
    -oxy-show-placeholder: always;
}

text note:has(p) {
    display: block;
    margin-left: 1em;
}

text note p { 
    display: block;
}

text anchor { 
    content: url('../images/anchor-20.png');
    padding: 0 4px 0 4px;
    -oxy-display-tags: none;
}

/* fw */

fw {
    font-style: italic;
    color: gray;
    -oxy-display-tags: none; 
}

/* figure */

text figure {
    display: block;
    margin: 0 0 0 0.5em;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Zeichnung o.ä.]";
}

text figure head {
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Überschrift der Abbildung]";
}

text figure p {
    -oxy-placeholder-content: "[Bildunterschrift der Autorin]"
}

text figure graphic {
    content: oxy_url(attr(url));
    display: block;
    margin-bottom: 0.5em;
    width: 300px;
    -oxy-display-tags: none;
}

/* glyph */

text g {
    text-decoration: overline fuchsia;
    -oxy-display-tags: none;
}

text g:focus:after {
    -oxy-append-content:
        oxy_label(
            text, " ref: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@ref"
            values, "#ngem, #mgem"
        )
    ;
}

/* Tables  */

text table {
  display: table;
  margin: 1em 0 1em 0;
}
text table > head{
    display: table-caption;
    font-family: "Roboto-italic";
    margin-bottom: 6pt;
}

text row {
  display: table-row;
}
text row[role='label'] {
   color: inherit;
   background-color: #aaa;
   font-weight: bold;
}

text cell {
  display: table-cell;
  border: 1px dashed silver;
  padding: 3px;
  color: inherit;
  background-color:inherit;
}

text cell[rendition='#right'] {
    text-align: right;
}

text cell[rendition='#c'] {
    text-align: center;
}

text cell[role='label'] {
   color: inherit;
   background-color: #bbb;
}

/* Authors editing */

text subst {
    -oxy-display-tags: none;
}

text del {
    color: red;
    background-color: white;
    text-decoration: line-through;
    -oxy-display-tags: none;
}

text add {
    color: green;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Hinzufügung]"
}

text add:focus:after {
    -oxy-append-content:
        oxy_label(
            text, " place: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@place"
        )
    ;
}

/* Renditions */

text hi[rendition="#b"] {
    font-weight: bold;
    -oxy-display-tags: none;
}

text hi[rendition="#u"] {
    text-decoration: underline;
    -oxy-display-tags: none;
}

text hi[rendition="#sub"] {
    font-size:small;
    vertical-align:sub;
    -oxy-display-tags: none;
}

text hi[rendition="#sup"] {
    position: relative; 
    top: -0.5em;
    font-size: 0.7em;
    -oxy-display-tags: none;
}

text hi[rendition="#i"] {
    font-style: italic;
    -oxy-display-tags: none;
}

text hi[rendition="#g"] {
    letter-spacing:0.125em;
    -oxy-display-tags: none;
}

head[rendition='#c'] {
    text-align: center;
}

/* Publishers editing */

text choice {
    -oxy-display-tags: none;
}

text choice sic,
text choice orig,
text choice abbr {
    background-color: #FFDDDD;
    -oxy-display-tags: none;
}

text choice corr,
text choice reg,
text choice expan {
    font-style: italic;
    background-color: #E8FFDD;
    -oxy-display-tags: none;
    -oxy-placeholder-content: "[Normalisierte Schreibung]";
}

text choice corr {
    -oxy-placeholder-content: "[Korrigierte Schreibung]";
}

text corr[type="deleted"] {
    content: "[gelöscht]";
    font-style: italic;
    color: green;
}

text choice abbr {
    background-color: #e0e0e0;
}


text choice expan {
    background-color: #E8FFDD;
    -oxy-placeholder-content: "[Aufgelöste Schreibung]";
}

text abbr {
    border-bottom: 3px solid #333;
    -oxy-display-tags: none;
}

text gap {
    content: " … ";
    background-color: #FFC458;
    margin-left: 2px;
    margin-right: 2px;
    -oxy-display-tags: none;
}

text gap:focus {
    -oxy-append-content:
        oxy_label(
            text, " reason: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@reason"
            values, "illegible, lost"
        )
    ;
}

text unclear {
    background-color: #dec3c3;
    margin-left: 2px;
    margin-right: 2px;
    -oxy-display-tags: none;
}

text foreign {
    -oxy-display-tags: none;
    background-color: #e0e0e0;
}

text foreign:focus:after {
    -oxy-append-content:
        oxy_label(
            text, " xml:lang: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@xml:lang"
        )
    ;
}

/* Quotes */

text quote {
    color: fuchsia;
    -oxy-display-tags: none;
}

text quote:before  {
    color: fuchsia;
    content: "\"";
}

text quote:after {
    color: fuchsia;
    content: "\"";
}

/* Dates */

date {
    -oxy-display-tags: none;
}

/* Facsimile */

teiHeader facsimile {
    font-size: smaller;
    display: block;
    padding: 0.5em 0 0.5em 0;
}

teiHeader facsimile:before {
    display: block;
    content: "Digitalisat"
             oxy_label(text, oxy_xpath("' (Regionen: '||(count(descendant::*:zone[@rendition='TextRegion']))||' / '"))
             oxy_label(text, oxy_xpath("' Zeilen: '||(count(descendant::*:zone[not(@rendition='TextRegion')]))||')'"));
    font-weight: bold;
}

teiHeader surface,
teiHeader graphic,
teiHeader zone {
    display: none;
}
