/* Default CSS */

@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace oxy url('http://www.oxygenxml.com/extensions/author');

@font-face{
    font-family: "Roboto";
    src:url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Roboto-italic";
    src:url("../fonts/Roboto/Roboto-Italic.ttf");
    font-weight: normal;
}

TEI {
    max-width: 60em;
    padding: 1em;
    font-family: Roboto;
}

/* Tabs */

/* 19999 */
TEI:before(19999) {
  position: relative;
  display: inline-block;
  right: 1px;
  bottom: 1px;
  content: " " oxy_button(transparent, true, action, oxy_action(name, ' teiHeader+text ', description, 'teiHeader und text anzeigen', operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-visible-2 -oxy-visible-3 ', arg-setPseudoClassNames, '-oxy-visible -oxy-visible-1')) " ";
  border: 1px solid #add8e6;
  height: 26px;
}
TEI:-oxy-visible-1:before(19999) {
  background-color: #add8e6;
  border-bottom: 1px solid #add8e6;
}
TEI:-oxy-visible-1 > teiHeader {
  display: block;
}
TEI:-oxy-visible-1 > text {
  display: block;
}

TEI:not(:-oxy-visible-3):not(:-oxy-visible-2):before(19999) {
  background-color: #add8e6;
  border-bottom: 1px solid #add8e6;
}

/* 19998 */
TEI:before(19998) {
  position: relative;
  display: inline-block;
  right: 1px;
  bottom: 1px;
  content: " " oxy_button(transparent, true, action, oxy_action(name, ' teiHeader ', description, 'Ansicht auf teiHeader reduzieren', operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-visible-1 -oxy-visible-2 ', arg-setPseudoClassNames, '-oxy-visible -oxy-visible-3')) " ";
  border: 1px solid #add8e6;
  height: 26px;
}
TEI:-oxy-visible-3:before(19998) {
  background-color: #add8e6;
  border-bottom: 1px solid #add8e6;
}
TEI:-oxy-visible-3 > * {
  display: none;
}
TEI:-oxy-visible-3 > teiHeader {
  display: block;
}
TEI:not(:-oxy-visible-3) > * {
  display: none;
}

/* 19997 */
TEI:before(19997) {
  position: relative;
  display: inline-block;
  right: 1px;
  bottom: 1px;
  content: " " oxy_button(transparent, true, action, oxy_action(name, ' text ', description, 'Ansicht auf text reduzieren', operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', arg-removePseudoClassNames, '-oxy-visible-1  -oxy-visible-3 ', arg-setPseudoClassNames, '-oxy-visible -oxy-visible-2')) " ";
  border: 1px solid #add8e6;
  height: 26px;
}
TEI:-oxy-visible-2:before(19997) {
  background-color: #add8e6;
  border-bottom: 1px solid #add8e6;
}
TEI:-oxy-visible-2 > * {
  display: none;
}
TEI:-oxy-visible-2 > text {
  display: block;
}
TEI:not(:-oxy-visible-2) > * {
  display: none;
}

TEI:not(:-oxy-visible) > * {
  display: none;
}
TEI:not(:-oxy-visible) > teiHeader,
TEI:not(:-oxy-visible) > text {
  display: block;
}

/* Foldable Sections */

teiHeader,
text,
front,
body,
back {
    display:block;
    padding-bottom:0.5em;
    -oxy-foldable:true;
}

/* Section labels */

TEI:before,
teiHeader:before,
text:before,
front:before,
body:before,
back:before {
    display:block;
    color:steelblue;
    font-weight:bold;
    width:100%;
    margin:2px;
    padding-left: 6px;
    padding-bottom: 0.5em;
    content: oxy_name();
}

/* Do not display tags (default) */

TEI * {
    -oxy-display-tags: none;
}

/* @xml:id */

TEI[xml|id]:before {
    -oxy-append-content: 
        oxy_label(
            text, "ID: "
            width, 75px
            styles, "@import 'labels_sub.css';"
        )
        oxy_label(
            text, attr(xml|id, string, "")
            styles, "@import 'labels_sub.css';"
        )
    ;
    margin-top: 0.5em;
    vertical-align: middle;
}

/* Paragraph */

p:after{
    content: "¶";
    color: steelblue;
    padding-left: 4px;
}

p {
    display:block;
    padding:2px;
    margin:2px;
    margin-bottom: 10px;
}

ab[type='redactional'] {
    border-left: 2px solid steelblue;
    display:block;
    padding:2px;
    margin:2px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

ab[type='redactional']:before {
    -oxy-append-content: 
        oxy_label(
            text, "Redaktioneller Beitrag"
            color, steelblue
            styles, "@import 'labels_sub.css';"
        )
    ;
    display:block;
    margin-left: 12px;
    padding-bottom: 0.5em;
}

/* Page, Line, and Column Beginning */

lb {
    content: "\A↪";
}

ab > lb:first-of-type,
p > lb:first-of-type,
head > lb:first-of-type,
byline > lb:first-of-type,
salute > lb:first-of-type,
signed > lb:first-of-type,
dateline > lb:first-of-type,
addrLine > lb:first-of-type,
l > lb:first-of-type,
p > lb:first-of-type {
    content: "↪";
}

pb + lb {
    content: "↪";
}

lb {
    color: steelblue;
    display: inline;
    padding-right: 2px;
    vertical-align: middle;
    visibility: -oxy-collapse-text;
}

lb[break="no"] {
    color: fuchsia;
    font-weight: bold;  
}

lb:focus {
    -oxy-append-content:
        oxy_label(
            text, "break: "
            width, 60px
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@break"
        )
    ;
}

pc {
    color:purple;
}

/* Page Break */

pb {
    content: url('../images/page_break-20.png');
    display:block;
    border-style:solid none;
    border-width:1px 0px 0px 0px;
    vertical-align:middle;
    margin-top: 0.5em;
    padding: 0.5em 0.5em 0.5em 0;
    visibility:-oxy-collapse-text;
}

pb:after {
    padding: 0px;
    vertical-align: middle;
    content:
        " "
        oxy_label(
            text, "n: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_textfield(
            edit, "@n"
            columns, 4
        )
        " "
        oxy_buttonGroup(
            label, '▼', 
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'delete'
                  )
              )
         )
    ;
}

cb {
    content: "⣿";
    display:inline;
    padding-right: 2px;
    color: steelblue;
    visibility:-oxy-collapse-text;
}

cb[type]:not(:focus):after {
    content: 
        oxy_label(
            text, oxy_xpath("' '||@type||''")
            styles, "@import 'labels_sub.css';"
            color, steelblue
        )
    ;
}

cb:focus:after {
    content:
        oxy_label(
            text, " type: "
            styles, "@import 'labels_sub.css';"
            width, 60px
        )
        oxy_combobox(
            edit, "@type"
        )
    ;
}

/* Byline */

byline {
    font-variant:small-caps;
    padding:2px;
    margin:2px;
    margin-bottom: 5px;
    -oxy-placeholder-content: "[Verfasserinnenzeile]";
}

/* msIdentifier */

sourceDesc > bibl {
    display: block;
    font-size: 0.85em;
    margin-bottom: 1em;
    margin-top: 1em;
}

sourceDesc > bibl > * {
    display:block;
}

sourceDesc > bibl persName {
    content:
        oxy_label(text, "Person: ", 
            styles, "@import 'labels.css';")
        oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 25)
        oxy_editor(type, combo,
            edit, "@type"
            editable, false,
            values, "author, photographer",
            labels, "Autor/in, Fotograf/in",
            fontInherit, true,
            columns, 10
        );
}

sourceDesc > bibl persName:after {
    -oxy-append-content: 
        " "
        oxy_buttonGroup(
            label, '▼',
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'persName_reg'
                  )
              )
         );
}

sourceDesc > bibl > bibl:before {
    content:
        oxy_editor(
            type, button, 
            action, oxy_action(
                name, 'Person einfügen', 
                description, 'Weitere Person einfügen', 
                operation, 'InsertFragmentOperation', 
                arg-fragment, '<persName xmlns="http://www.tei-c.org/ns/1.0"/>',
                arg-insertLocation, '.',
                arg-insertPosition, 'Before',
                arg-schemaAware,'false'),
            color, black, 
            width, 20em);
    display:block;
    padding-bottom: 0.5em;
    padding-left: 180px;
}

sourceDesc > bibl > bibl {
    content:
        oxy_label(text, "\A@type: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, combo,
            edit, "@type"
            editable, false,
            canRemoveValue,true,
            fontInherit, true,
            columns, 20)
        oxy_label(text, "\A@subtype: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, combo,
            edit, "@subtype"
            editable, false,
            canRemoveValue,true,
            fontInherit, true,
            columns, 15)
        oxy_label(text, "\A@ana: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, combo,
            edit, "@ana"
            editable, false,
            canRemoveValue,true,
            fontInherit, true,
            columns, 15)
        "\A";
    padding-top: 1em;
}

sourceDesc bibl > title:after {
    -oxy-append-content: 
        " "
        oxy_buttonGroup(
            label, '▼',
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'title_reg'
                  )
              )
         );
}

sourceDesc > bibl > bibl > title {
    content:
        oxy_label(text, "Zeitschrift: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "#text",
            fontInherit, true,
            columns, 25)
        oxy_editor(type, combo,
            edit, "@level"
            editable, false,
            values, "j, s, u",
            labels, "Journal, Serie, Unpubliziert",
            fontInherit, true,
            columns, 10
        );
}

sourceDesc > bibl > bibl > date {
	content: 
        oxy_label(text, "Datum: ", 
            styles, "@import 'labels.css';")
        oxy_datePicker(columns, 17, edit , "@when", format, "yyyy-MM-dd", validateInput, false, fontInherit, true);
    display: block;
    visibility: -oxy-collapse-text;
}

sourceDesc listBibl[type='related'] {
    content:
        oxy_label(text, "Zugehörige Einträge", 
            styles, "@import 'labels_sub.css';");
    margin-bottom: 1em;
    -oxy-foldable:true;
    -oxy-folded:true;
}

sourceDesc listBibl > bibl > title {
    content:
        oxy_label(text, oxy_xpath("let $type:=ancestor::listBibl[1]/@type return (if ($type='surrogates') then 'Surrogat' else if ($type='editions') then 'Edition' else if ($type='translations') then 'Übersetzung' else 'y')||': '"), 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "#text",
            editable, false,
            fontInherit, true,
            columns, 25)
        oxy_editor(type, combo,
            edit, "@level"
            editable, false,
            values, "j, s, u",
            labels, "Journal, Serie, Unpubliziert",
            fontInherit, true,
            columns, 10
        );
}

sourceDesc bibl > biblScope {
    content:
        oxy_label(text, "Bereich: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "#text",
            fontInherit, true,
            columns, 25);
}

sourceDesc bibl > note {
    content:
        oxy_label(text, "Anmerkung: ", 
            styles, "@import 'labels.css';")
        oxy_textArea(edit, "#text",
            fontInherit, true,
            rows, 2,
            columns, 30);
}

sourceDesc > listBibl > listBibl > bibl {
    display: block;
    font-size: 0.85em;
    margin-bottom: 1em;
    margin-top: 1em;
    visibility: -oxy-collapse-text;
}

sourceDesc > listBibl > listBibl > bibl > * {
    display:block;
}

listBibl[type='online'] > bibl {
    content:
        oxy_label(text, "Online: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "@source",
            fontInherit, true,
            columns, 35);
}

listBibl[type='published'],
listBibl[type='genetic'],
listBibl[type='articleseries'] {
    display: none;
}

/* msIdentifier */

msIdentifier {
    display: block;
    font-size: 0.85em;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

msIdentifier:after {
    content:
        oxy_editor(
            type, button, 
            action, oxy_action(
                name, 'Alt. Signatur einfügen', 
                description, 'Alt. Signatur einfügen', 
                operation, 'InsertFragmentOperation', 
                arg-fragment, '<altIdentifier xmlns="http://www.tei-c.org/ns/1.0"><idno/></altIdentifier>',
                arg-insertLocation, '.',
                arg-insertPosition, 'Inside as last child',
                arg-schemaAware,'false'),
            color, black, 
            width, 20em);
    display:block;
    padding-top: 0.125em;
    padding-left: 180px;
}


msIdentifier > * {
    display:block;
}

msIdentifier > repository {
    content:
        oxy_label(text, "Archiv: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "#text",
            editable, false,
            fontInherit, true,
            columns, 25);
}

msIdentifier > collection {
    content:
        oxy_label(text, "Sammlung: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "#text",
            editable, false,
            fontInherit, true,
            columns, 25);
}

msIdentifier > idno {
    content:
        oxy_label(text, "Signatur: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "#text",
            editable, false,
            fontInherit, true,
            columns, 25);
}

msIdentifier > altIdentifier > idno {
    content:
        oxy_label(text, "Alt. Signatur: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, text,
            edit, "#text",
            editable, false,
            fontInherit, true,
            columns, 25);
}

/* language */

langUsage {
    display: block;
    font-size: 0.85em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

langUsage:after {
    content:
        oxy_editor(
            type, button, 
            action, oxy_action(
                name, 'Neue Sprache einfügen', 
                description, 'Neue Sprache am Schluss der Liste einfügen', 
                operation, 'InsertFragmentOperation', 
                arg-fragment, '<language xmlns="http://www.tei-c.org/ns/1.0"/>',
                arg-insertLocation, '.',
                arg-insertPosition, 'Inside as last child'), 
            color, black);
    display:block;
    padding-top: 0.125em;
    padding-left: 180px;
}

langUsage language {
    content:
        oxy_label(text, "Sprache: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, combo,
            edit, "@ident",
            canRemoveValue,true,
            editable, false,
            fontInherit, true,
            columns, 20)
            " "
        oxy_buttonGroup(
            label, '▼', 
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'delete'
                  )
              )
         );
    display:block;
}

/* textClass (keywords) */

keywords[ana=keywords] {
    display: block;
    font-size: 0.85em;
    margin-bottom: 1em;
}

keywords[ana=keywords] list {
    margin-top: 0.125em;
}

keywords[ana=keywords] list:after {
    content:
        oxy_editor(
            type, button, 
            action, oxy_action(
                name, 'Neues Schlagwort einfügen', 
                description, 'Neues Schlagwort am Schluss der Liste einfügen', 
                operation, 'InsertFragmentOperation', 
                arg-fragment, '<item xmlns="http://www.tei-c.org/ns/1.0"/>',
                arg-insertLocation, '.',
                arg-insertPosition, 'Inside as last child'), 
            color, black);
    display:block;
    padding-top: 0.125em;
    padding-left: 180px;
}

keywords[ana=keywords] list item {
    content:
        oxy_label(text, "Schlagwort: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, combo,
            edit, "@sameAs",
            values, oxy_xpath("if (doc-available('../../../../meta/lists/keywords.xml')) then (for $i in doc('../../../../meta/lists/keywords.xml')//*:item return $i/@source) => string-join(',') else ''"),
            labels, oxy_xpath("if (doc-available('../../../../meta/lists/keywords.xml')) then (for $i in doc('../../../../meta/lists/keywords.xml')//*:item return $i => normalize-space()) => string-join(',') else ''"),
            canRemoveValue,true,
            editable, false,
            fontInherit, true,
            columns, 20)
            " "
        oxy_buttonGroup(
            label, '▼', 
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'delete'
                  )
              )
         );
    display:block;
}

/* textClass (travels) */

keywords[ana=travels] {
    display: block;
    font-size: 0.85em;
    margin-bottom: 0.5em;
}

keywords[ana=travels] list {
    margin-top: 0.125em;
}

keywords[ana=travels] list:after {
    content:
        oxy_editor(
            type, button, 
            action, oxy_action(
                name, 'Neue Reise einfügen', 
                description, 'Neue Reise am Schluss der Liste einfügen', 
                operation, 'InsertFragmentOperation', 
                arg-fragment, '<item xmlns="http://www.tei-c.org/ns/1.0"/>',
                arg-insertLocation, '.',
                arg-insertPosition, 'Inside as last child'), 
            color, black);
    display:block;
    padding-top: 0.125em;
    padding-left: 180px;
}

keywords[ana=travels] list item {
    content:
        oxy_label(text, "Reise: ", 
            styles, "@import 'labels.css';")
        oxy_editor(type, combo,
            edit, "@sameAs",
            values, oxy_xpath("if (doc-available('../../../../meta/lists/events.xml')) then (for $i in doc('../../../../meta/lists/events.xml')//*:event return $i/@xml:id) => string-join(',') else ''"),
            labels, oxy_xpath("if (doc-available('../../../../meta/lists/events.xml')) then (for $i in doc('../../../../meta/lists/events.xml')//*:event return $i/*:label => normalize-space()) => string-join(',') else ''"),
            canRemoveValue,true,
            editable, false,
            fontInherit, true,
            columns, 20)
            " "
        oxy_buttonGroup(
            label, '▼', 
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'delete'
                  )
              )
         );
    display:block;
}

/* Correspondence Description */

correspAction {
    display: block;
    font-size: 0.85em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    visibility: -oxy-collapse-text;
}

correspAction[type='sent'] {
    margin-bottom: 0.5em;
}

correspAction persName,
correspAction placeName,
correspAction orgName {
    content: 
        oxy_textfield(
            edit, "#text",
            fontInherit, true,
            columns, 25)
        oxy_editor(type, combo,
            edit, "@type"
            editable, false,
            values, "source, conjecture",
            fontInherit, true,
            columns, 10
        );
    display: block;
}

correspAction date {
	content: 
        oxy_datePicker(columns, 25, edit , "@when", format, "yyyy-MM-dd", validateInput, false, fontInherit, true)
        oxy_editor(type, combo,
                edit, "@type"
                editable, false,
                values, "source, conjecture",
                fontInherit, true,
                columns, 10
            );
    display: block;
    visibility: -oxy-collapse-text;
}

correspAction[type='sent'] persName:before {
    content:
        oxy_label(
            text, "Absender/in: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction[type='received'] persName:before {
    content:
        oxy_label(
            text, "Empfänger/in: "
            styles, "@import 'labels.css';"
        )
    ; 
}

correspAction persName:after {
    -oxy-append-content: 
        " "
        oxy_buttonGroup(
            label, '▼',
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'persName_reg'
                  )
              )
         );
}

correspAction[type='sent'] placeName:before {
    content:
        oxy_label(
            text, "Schreibort: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction[type='received'] placeName:before {
    content:
        oxy_label(
            text, "Empfangsort: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction placeName:after {
    -oxy-append-content: 
        " "
        oxy_buttonGroup(
            label, '▼',
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'placeName_reg'
                  )
              )
         );
}

correspAction[type='sent'] date:before {
    content:
        oxy_label(
            text, "Schreibdatum: "
            styles, "@import 'labels.css';"
        )
    ;
}

correspAction[type='received'] date:before {
    content:
        oxy_label(
            text, "Empfangsdatum: "
            styles, "@import 'labels.css';"
        )
    ;
}

/* Correspondence */

postscript:before,
opener:before,
closer:before {
    -oxy-append-content: 
        oxy_label(
            text, oxy_name()
            color, steelblue
            styles, "@import 'labels_sub.css';"
        )
    ;
    margin-left: 12px;
    padding-bottom: 0.5em;
}

opener,
closer {
    display: block;
    visibility: -oxy-collapse-text;
}

opener,
closer {
    border-left: 2px solid steelblue;
    padding-bottom: 0.5em;
}

dateline,
salute,
signed {
    display: block;
    margin-left: 12px;
    visibility: visible;
}

dateline {
    -oxy-placeholder-content: "[Datumszeile]";
}

opener salute {
    -oxy-placeholder-content: "[Anrede]";
}

closer salute {
    -oxy-placeholder-content: "[Grussformel]";
}

signed {
    -oxy-placeholder-content: "[Unterschrift]";
}

address {
    margin-left: 6px;
    visibility: -oxy-collapse-text;
}

address:before {
    -oxy-append-content: 
        oxy_label(
            text, oxy_name()
            color, steelblue
            width, 75px
            styles, "@import 'labels_sub.css';"
        )
    ;
    margin-left: 6px;
    padding-bottom: 0.5em;
}

addrLine {
    display: block;
    margin-left: 6px;
    visibility: visible;
    -oxy-placeholder-content: "[Adresszeile]";
}

/* Referencing strings */

rs[type='person']:before {
    -oxy-prepend-content: url('../images/person-20.png');
    width: 1em;
}
rs[type='org']:before {
    -oxy-prepend-content: url('../images/org-20.png');
    width: 1em;
}
rs[type='place']:before {
    -oxy-prepend-content: url('../images/place-20.png');
    width: 1em;
}
rs[type='bibl']:before {
    -oxy-prepend-content: url('../images/bibl-20.png');
    width: 1em;
}

rs:before {
    margin-right: 6px;
}

rs[type='person'],
rs[type='org'],
rs[type='place'],
rs[type='bibl'] {
    border-bottom: 3px solid #68D391;
    color: #000000;
} 

rs[type='person']:focus-within:after,
rs[type='org']:focus-within:after,
rs[type='place']:focus-within:after,
rs[type='bibl']:focus-within:after {
    padding-left: 2px;
}

rs[type='person']:focus-within:after {
    content: 
        oxy_buttonGroup(
            label, '▼',
            tooltip, oxy_xpath("let $id := ./@key return doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-person.xml')//*[@id=$id]/@val"),
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'rs_key'
                  ),
                  oxy_action( 
                        id, 'rs_unwrap'
                  )
              )
         );
    ;
}

rs[type='org']:focus-within:after {
    content: 
        oxy_buttonGroup(
            label, '▼',
            tooltip, oxy_xpath("let $id := ./@key return doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-org.xml')//*[@id=$id]/@val"),
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'rs_key'
                  ),
                  oxy_action( 
                        id, 'rs_unwrap'
                  )
              )
         );
    ;
}

rs[type='place']:focus-within:after {
    content: 
        oxy_buttonGroup(
            label, '▼',
            tooltip, oxy_xpath("let $id := ./@key return doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-place.xml')//*[@id=$id]/@val"),
            actions, 
              oxy_action_list(
                  oxy_action( 
                        id, 'rs_key'
                  ),
                  oxy_action( 
                        id, 'rs_unwrap'
                  )
              )
         );
    ;
}

rs[type='bibl']:focus-within:after {
    content: 
        oxy_buttonGroup(
            label, '▼',
            tooltip, oxy_xpath("let $id := ./@key return doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-bibl.xml')//*[@id=$id]/@val"),
            actions, 
              oxy_action_list(
                  oxy_action(
                        id, 'open_zotero'
                  ),
                  oxy_action( 
                        id, 'rs_key'
                  ),
                  oxy_action( 
                        id, 'rs_unwrap'
                  )
              )
         );
    ;
}

/* teiHeader */

teiHeader {
    padding: 0.5em 0.5em 0.5em 0;
    margin: 0 0 0.5em 0;
    border: 1px steelblue dashed;
    background-color: #e5f5f9;
}

titleStmt {
    display: block;
    margin: 0 0 1em 0;
    visibility: -oxy-collapse-text;
}

titleStmt title {
    -oxy-placeholder-content: "Titel";
    background-color: #ffffff;
    display: block;
    font-style: italic;
    font-size: 1.5em;
    padding: 0 0 0 0.3em;
    visibility: visible;
} 

TEI titleStmt hi {
    background: #eee;
}

TEI[type='dseas-letter'] titleStmt title {
    -oxy-placeholder-content: "Titel des Briefs";
} 

TEI[type='dseas-smallform'] titleStmt title {
    -oxy-placeholder-content: "Titel der kleinen Form";
}

titleStmt author,
titleStmt editor,
titleStmt respStmt {
    display: block;
    font-size: 0.8em;
}

editionStmt {
    display: none;
}

publicationStmt {
    display: none;
}

fileDesc,
profileDesc {
    visibility: -oxy-collapse-text;
}

physDesc,
creation,
correspDesc,
profileDesc abstract,
correspDesc note,
profileDesc textClass {
    display: block;
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
}

/* Anmerkungen */

notesStmt {
    display: block;
    font-size: 0.9em;
    visibility: -oxy-collapse-text;
}

notesStmt note[type='global_comment']:before {
    background-color: #e5f5f9;
    display: block;
    content: "Übersichtskommentar";
    font-weight: bold;
    padding: 0 0 0.3em 0;
}

notesStmt note[type='global_comment'] {
    background-color: #ffffff;
    display: block;
    visibility: visible;
}

notesStmt note[type='global_comment'] p {
    display: block;
}

/* text */

text:before {
    display: block;
    -oxy-prepend-content:
            oxy_label(text, oxy_concat("Referenzen im Text (", oxy_xpath("count(ancestor::TEI//rs[@key])"), ")"), styles, "@import 'labels_sub.css';")
            oxy_htmlContent(
            content, oxy_concat(oxy_xpath("if (//rs[@key]) then '' else 'keine'"), oxy_xpath("let $lookup := doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-person.xml')|doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-place.xml')|doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-bibl.xml')|doc('file:/${frameworkDir(DSE-AS)}/resources/lookup-org.xml') return concat('<ul style=\"padding-bottom: 20px;\"> ', (for $x in //rs[@key] => sort(@type) return concat('<li>',($lookup//*[@id=$x/@key]/@val),'</li>')) => distinct-values() => sort() => string-join(),'</ul>')")),
            width, 100%);
    padding: 0.5em 0.5em 0.5em 0;
    margin: 1em 0 0.5em 0;
    border-top: 1px steelblue dashed;
}

text body {
    position: relative;
    display: block;
}

text head {
    font-weight: bold;
    display: block;
    margin: 0.5em 0 1em 0;
    -oxy-placeholder-content: "[Titel]";
}

text head[type="h1"] {
    font-size: 1.4em;
    font-weight: bold;
}

text head[type="h2"] {
    font-size: 1.2em;
    font-weight: bold;
}

text head[type="h3"] {
    font-size: 1.2em;
}

text p {
    display: block;
    margin: 0 0 1em 0;
}

text lg {
    display: block;
    margin: 0.5em 0 0.5em 0;
}

text lg l {
    display: block;
    -oxy-placeholder-content: "[Verszeile]";
}

text list,
text list item {
    display: block;
}

text list {
    margin: 1em 0 0 1em;    
}

text note {
    background-color: #e0e0e0;
    padding: 0 4px 0 4px;
    -oxy-placeholder-content: "[Anmerkung eingeben]";
    -oxy-show-placeholder: always;
}

text note:has(p) {
    display: block;
    margin-left: 1em;
}

text note p { 
    display: block;
}

text anchor { 
    content: url('../images/anchor-20.png');
    padding: 0 4px 0 4px;
}

text milestone { 
    /*content: 
        oxy_label(
            text, attr(unit, string, "milestone")
            styles, "@import 'labels_sub.css';"
        )
    ;
    background-color: #cbdcec;
    padding: 0 4px 0 4px;*/
    display:none;
}

/* fw */

text fw {
    font-style: italic;
    color: gray;
}

text fw:focus:after {
    -oxy-append-content:
        oxy_label(
            text, " place: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@place"
        )
    ;
}

/* figure */

text figure {
    display: block;
    margin: 0 0 0 0.5em;
    -oxy-placeholder-content: "[Zeichnung o.ä.]";
}

text figure head {
    -oxy-placeholder-content: "[Überschrift der Abbildung]";
}

text figure p {
    -oxy-placeholder-content: "[Bildunterschrift der Autorin]"
}

text figure graphic {
    content: oxy_url(attr(url));
    display: block;
    margin-bottom: 0.5em;
    width: 300px;
}

/* glyph */

text g {
    text-decoration: overline fuchsia;
}

text g:focus:after {
    -oxy-append-content:
        oxy_label(
            text, " ref: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@ref"
            values, "#ngem, #mgem"
        )
    ;
}

/* Tables  */

text table {
  display: table;
  margin: 1em 0 1em 0;
}
text table > head{
    display: table-caption;
    font-family: "Roboto-italic";
    margin-bottom: 6pt;
}

text row {
  display: table-row;
}
text row[role='label'] {
   color: inherit;
   background-color: #aaa;
   font-weight: bold;
}

text cell {
  display: table-cell;
  border: 1px dashed silver;
  padding: 3px;
  color: inherit;
  background-color:inherit;
}

text cell[rendition='#right'] {
    text-align: right;
}

text cell[rendition='#c'] {
    text-align: center;
}

text cell[role='label'] {
   color: inherit;
   background-color: #bbb;
}

/* Authors editing */

text del {
    color: red;
    background-color: white;
    text-decoration: line-through;
}

text add {
    color: green;
    -oxy-placeholder-content: "[Hinzufügung]"
}

text add:focus:after {
    -oxy-append-content:
        oxy_label(
            text, " place: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@place"
        )
    ;
}

/* Renditions */

hi[rendition="#b"] {
    font-weight: bold;
}

hi[rendition="#u"] {
    text-decoration: underline;
}

hi[rendition="#sub"] {
    font-size:small;
    vertical-align:sub;
}

hi[rendition="#sup"] {
    position: relative; 
    top: -0.5em;
    font-size: 0.7em;
}

hi[rendition="#i"] {
    font-style: italic;
}

hi[rendition="#g"] {
    letter-spacing:0.125em;
}

head[rendition='#c'] {
    text-align: center;
}

/* Publishers editing */

text choice sic,
text choice orig,
text choice abbr {
    background-color: #FFDDDD;
}

text choice corr,
text choice reg,
text choice expan {
    font-style: italic;
    background-color: #E8FFDD;
    -oxy-placeholder-content: "[Normalisierte Schreibung]";
}

text choice sic {
    -oxy-placeholder-content: "[Fehlerhafte Form]";
}

text choice corr {
    -oxy-placeholder-content: "[Korrigierte Form]";
}

text choice abbr {
    background-color: #e0e0e0;
}


text choice expan {
    background-color: #E8FFDD;
    -oxy-placeholder-content: "[Aufgelöste Schreibung]";
}

text abbr {
    border-bottom: 3px solid #333;
}

text gap {
    content: " … ";
    background-color: #FFC458;
    margin-left: 2px;
    margin-right: 2px;
}

text gap:focus {
    -oxy-append-content:
        oxy_label(
            text, " reason: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@reason"
            values, "illegible, lost"
        )
    ;
}

text unclear {
    background-color: #dec3c3;
    margin-left: 2px;
    margin-right: 2px;
}

text foreign {
    background-color: #e0e0e0;
}

text foreign:focus:after {
    -oxy-append-content:
        oxy_label(
            text, " xml:lang: "
            styles, "@import 'labels_sub.css';"
        )
        oxy_combobox(
            edit, "@xml:lang"
        )
    ;
}

space,
space[dim='horizontal'] {
    content: url('../images/space_horizontal-20.png');
    padding: 0 0.5em 0 0.5em;
    width: 1em;
    -oxy-editable: false;
}

space[dim='vertical'] {
    content: url('../images/space_vertical-20.png');
    padding: 0.5em 0 0.5em 0;
    width: 1em;
    -oxy-editable: false;
}

/* Quotes */

text quote {
    background-color: #FFF5F5;
}

text quote:before  {
    color: fuchsia;
    content: "\"";
}

text quote:after {
    color: fuchsia;
    content: "\"";
}

/* Facsimile */

teiHeader facsimile {
    font-size: smaller;
    display: block;
    padding: 0.5em 0 0.5em 0;
}

teiHeader facsimile:before {
    display: block;
    content: "Digitalisat"
             oxy_label(text, oxy_xpath("' (Regionen: '||(count(descendant::*:zone[@rendition='TextRegion']))||' / '"))
             oxy_label(text, oxy_xpath("' Zeilen: '||(count(descendant::*:zone[not(@rendition='TextRegion')]))||')'"));
    font-weight: bold;
}

teiHeader surface,
teiHeader graphic,
teiHeader zone {
    display: none;
}

/* XML comments */

oxy|comment {
    display:block !important;
    color:green !important;
    background-color:transparent !important;
}

/* listEvent */

listEvent {
    max-width: 60em;
    padding: 1em;
    font-family: Roboto;
}

listEvent * {
    -oxy-display-tags: none;
}

listEvent > event {
    border-bottom: 1px steelblue dashed;
    padding-bottom: 1em;
}

listEvent > event > label {
    display: block;
    font-size: 1.2em;
    font-weight:bold;
    -oxy-placeholder-content: "[Titel]";
}

listEvent > event > date {
	content: 
        oxy_label(text, "Datum (von): ", 
            styles, "@import 'labels.css';")
        oxy_datePicker(columns, 10, edit , "@from", format, "yyyy-MM-dd", validateInput, false, fontInherit, true)
        oxy_label(text, "Datum (bis): ", 
            text-align, right,
            styles, "@import 'labels.css';")
        oxy_datePicker(columns, 10, edit , "@to", format, "yyyy-MM-dd", validateInput, false, fontInherit, true);
    display: block;
    visibility: -oxy-collapse-text;
}

listEvent > event > note:before {
    content:         
        oxy_label(
            text, "Beschreibung"
            styles, "@import 'labels.css';"
        );
    display: block;
    margin-bottom: 0.5em;
}
