on:
  release:
    types: [published]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - run: | 
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -u "\"${{ secrets.DISPATCH_TO_DOCS_PAT_USER}}\":\"${{secrets.DISPATCH_TO_DOCS_PAT}}\"" \ 
          -H "X-GitHub-Api-Version: 2022-11-28" https://api.github.com/repos/dse-as/docs/actions/workflows/vitepress.yaml/dispatches \
          -d '{"ref":"main"}'
      - name: Checkout
        uses: actions/checkout@v4
      - name: Github Releases To Discord
        uses: SethCohen/github-releases-to-discord@v1.16.2
        with:
          webhook_url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          color: "2105893"
          username: "Release Changelog (oXygen framework)"
          avatar_url: "https://cdn.discordapp.com/avatars/487431320314576937/bd64361e4ba6313d561d54e78c9e7171.png"
          content: "New version available -- check https://github.com/dse-as/oxygen-framework/releases for more info."
          footer_title: "Changelog"
          footer_icon_url: "https://cdn.discordapp.com/avatars/487431320314576937/bd64361e4ba6313d561d54e78c9e7171.png"
          footer_timestamp: true
          max_description: '4096'
          reduce_headings: true
